/* The CSS hierarchy for every web page looks like this:

    - The browser’s default stylesheet
    - User-defined stylesheets
    - External stylesheets (that’s us)
    - Page-specific styles (that’s also us)
    - Inline styles (that could be us, but it never should be) */

body {
  /* color: #ff0000; */
  color: #414141; /* Dark gray */
  background-color: #eeeeee; /* Light gray */
}

/* The em unit is very useful for defining sizes relative to some base font. */
h1 {
  font-size: 36px; /* or 2em */
}

h2 {
  font-size: 28px; /* or 1.6em */
}

/* Use commas to avoid redundancy with multiple selectors */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal; /* Removes bold text
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
}
